@model Webhelp.Rh.Web.ViewModel.VacancyViewModel

@{
	ViewBag.Title = "Create";
}

@using (Html.BeginForm("Edit", "Vacancy", FormMethod.Post))
{
	<h2>Criar Vaga</h2>

	<div class="form-group">
		<label for="Name">Nome da Vaga</label>
		@Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.Name)
	</div>

	<div class="form-group">
		<input type="submit" value="Salvar" class="btn btn-primary pt-2" />
		<div>
			@Html.ActionLink("Voltar para a Listagem", "Index", "Vacancy", null, new { @class = "btn btn-primary" })
		</div>
	</div>
}

