@model Webhelp.Rh.Web.ViewModel.TechnologyViewModel

@{
	ViewBag.Title = "Create";
}

@using (@Html.BeginForm("Create", "Technology", FormMethod.Post))
{
	<h2>Criar Tecnologia</h2>

	<div class="form-group">
		<label for="Name">Nome da Tecnologia</label>
		@Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
		@Html.ValidationMessageFor(model => model.Name)
	</div>

	<div class="pt-2">
		<div class="btn-group">
			<input type="submit" value="Salvar" class="btn btn-primary rounded" />
			<div>
				@Html.ActionLink("Voltar para a Listagem", "Index", "Technology", null, new { @class = "btn btn-primary" })
			</div>
		</div>
	</div>
}




